* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

.title {
  margin: 20px;
  text-align: center;
  font-weight: 600;
}

.container {
  width: 900px;
  height: 850px;
  background-color: #FE6D00;
  margin: 0 auto;
  border-radius: 30px;
  color: #fff;
}
