* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

.title {
  margin: 20px;
  text-align: center;
  font-weight: 600;
}

.container {
  width: 800px;
  height: 750px;
  background-color: #FE6D00;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
}

.form {
  width: 700px;
  margin: 0 auto;
}

.form-input {
  font-size: 1.5em;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
}

.form-input #clientName, .form-input #phoneNumber {
  width: 400px;
}

.form-input input {
  font-size: 16px;
  height: 40px;
  border: 1px solid black;
  text-indent: 10px;
  border-radius: 5px;
}

.form-checkbox {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  font-size: 1.2em;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.form-textarea {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin: 20px;
}

.form-textarea textarea {
  height: 80px;
  padding: 10px;
  resize: none;
}

.submit-button {
  background-color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #c9c9c9;
}
